body {
  margin: 10px;
  padding: 0;
  border: 0;
  font-family: Times New Roman;
  font-size: large;
  background-color: white;
  color: black;
}

h1 {
  text-align: left;
  display: inline-block;
  color: black;
  font-family: Arial;
  background-color: rgba(0, 193, 255, 0.25);
  padding: 10px;
  border-radius: 16px;
}

h2 {
  text-align: left;
  color: black;
  font-family: Times New Roman;
}

div {
  padding-bottom: 15px; font-size: large;
}

a { 
 font-size: 24px;
}

/* For large images, resize them to fill the whole width of the screen */

.fills_screen_width {
  width:100%;
  max-width:90%;
  text-align: center;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* ========= Bullet-list styles: START
     - can update or add more list styles below ============ */

.two_views div::before {
  content: "\1F935";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 40px;
}

.headline_list div::before {
  content: "\1F41F";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 32px;
}

.action_list div::before {
  content: "\1F964";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 32px;
}

.long_paragraphs div::before {
  content: "\1F30D";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 40px;
}

.links_list div a::before {
  content: "\1F310";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 32px;
}

.videos_list div a::before {
  content: "\1F3A5";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 40px;
}

.research_list div a::before {
  content: "\1F9EA";
  display: inline-block; vertical-align: bottom;
  margin: 6px;
  font-size: 32px;
}

/* ========= Bullet-list styles: END ============ */

/* ==== Image Gallery styling: START
   There are so many screen sizes on devices in the world.
   - make the page styling fluid, so that it will fit any image - keeping its aspect ratio.
   - the gallery area stretches in height, to handle any number of images.
   - it does not matter if the device's orientation is portrait or landscape.
   - it uses columns and a fixed width (400px), and the heights vary to cope with different image aspect ratios.
*/

.image_gallery_thumbnail a {
  transition: all .3s ease-in-out;
  text-decoration: none  /* No Underline on the anchor link */
}

.image_gallery {
  background: #f9f9f9;
  border-radius: 20px;
  border: 4px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;   
}

.image_gallery_thumbnail {
  margin: 2px;
  max-width: 95%;
  display: inline-block; /* for non-flex browsers */
}

@media only screen and (max-width: 800px) {
  .image_gallery_thumbnail {
    width: 48%; /* For medium-width screens: present a two-column table of images */
  }
}

@media only screen and (max-width: 500px) {
  .image_gallery_thumbnail {
    width: 100%; /* For narrow screens: present a one-column stack of images */
  }
}

.image_gallery_thumbnail a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.image_gallery_thumbnail figcaption {
  border:1px solid #c0c0c0;
  background: white; color: black;
}

.image_gallery_thumbnail img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 400px;
  vertical-align: bottom;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.image_gallery_thumbnail a:hover img {
  transition: all .3s ease-in-out;
  box-shadow: 0 0 6px 4px rgba(100, 250, 0, 0.4);
  z-index: 20;
}

/* ==== Image Gallery styling: END ==== */
